.header
    ul{
        text-align: center;            
        display: flex;
        justify-content: center;  
        font-size: 30px;   
    
    }
    li{
        border-radius: 5px;
        text-align: center;            
        display: flex;
        flex-wrap: nowrap;
        margin-left: 50px;
        margin-right: 50px;
        list-style-type: none;    
        font-size: 25px;  
      
                
    }
    .nav-link{
        background: #39AEFA;
        font-family: monospace;
        border-radius: 25px;
        color: aliceblue;
        text-align: center;
        text-decoration-line: none;
    }

    footer{
        display: flex;
        padding-left: 480px;
        width: 25px;
        border-radius: 25px;
        height: 100x;
    }

    .nav-link-inicio{
        text-align: center;
        background: #39AEFA;
        font-family: monospace;
        border-radius: 25px;
        padding: 10px;
        width: 90px;
        color: aliceblue;
        text-align: center;
        text-decoration-line: none;
    }
    .menu a{
       color: rgb(9, 9, 9); padding-right: 40px;
      }

    h1{
        font-family: monospace;
        font-size: 40px;
        color: #39AEFA;
        padding: 10px;
        padding-left: 50px;
    }

    body{
        background:beige;
    }

    .dois{
        padding-left: 510px;

    }

    .foto-texto{
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
    }